/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******* STYLES *******/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/* Top Content */

.top-content {
    max-width: 500px;
    margin: 30px auto 0;
    text-align: center;
    color: #4c4e61;
}

.top-content h1, h2 {
    padding: 0 0 10px;
    font-size: 2rem;
} 

.top-content h2 {
    font-weight: 600;
}

.top-content h5 {
    padding-top: 10px;
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a3a5ae;
}

/* Sections */
.sections {
    display: flex;
    width: 75%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
    width: 340px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 0px 5px 13px 1px rgba(0,0,0,0.1);
}

.center {
    margin: 30px 30px;
}

.one {
    border-top: 5px solid #45d3d3;
}

.two {
    margin-bottom: 30px;
    border-top: 5px solid #ea5353;
}

.three {
    border-top: 5px solid #fcaf4a;
}

.four {
    border-top: 5px solid #549ef2;
}

.section h4 {
    padding: 30px 0 15px 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #4b4a50;
}

.section p {
    padding: 0 30px;
    font-weight: 400;
    line-height: 1.5;
    color: #a3a5ae;
}

img {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

footer p {
    text-align: center;
}

/* Mobile */

@media screen and (max-width: 376px) {
    .top-content {
        max-width: 80%;
        margin: 55px auto 0;
        text-align: center;
    }

    .top-content h1, h2 {
        font-size: 25px;
        padding: 5px 0;
    }

    .top-content h5 {
        padding: 10px 0;
        font-size: 16px;
    }

    .sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin-top: 40px;
    }

    .center {
        width: 100%;
        margin: 0;
    }

    .section {
        width: 85%;
        height: 200px;
    }

    .section h4 {
        font-size: 1.3rem;
    }

    .two {
        margin: 15px 30px;
    }

    .three {
        margin: 20px 30px;
    }

    img {
        width: 50px;
        bottom: 25px;
        right: 25px;
    }

    footer p {
        padding: 20px 0;
        font-size: 14px;
    }
} 